html
    head
        title=title
        style
            include  ../node_modules/psychic.css/dist/psychic.min.css
        style.
             .list-item-right {
                 max-width: 80%;
             }
        link(rel="stylesheet" href="/font-awesome/css/font-awesome.css")
        script(src="/socket.io/socket.io.js")
    body
        include templates/header.pug

        div(style="margin-top:60px;")
            if(user)
                div.grid
                    div.col-2-12
                    div.col-8-12
                        img(src=title + '.svg' style="float:left;")
                        img(src=title + '/count.svg' style="float:right;")
                        br
                        br
                        if(owner)
                            a(href="/" + title + "/settings" style="color:black;top:20px;position:absolute;right:20px;")
                                i(class="fa fa-3x fa-cog" aria-hidden="true")
                        ul.list(id="messages")
                            for message in messages
                                li.list-item(style="border:0px;")
                                    div.list-item-left
                                        h3(style='display:inline-block;margin:0px;')=message.username
                                        br
                                        img(src="/user/"+message.username+"/avatar" style="width:35px;height:35px;")
                                        br
                                        small(style='margin-left: 5px;display:inline-block;')=message.date
                                    div.list-item-right
                                        p #{message.message}

                        form(class="form" id="chat" action="")
                            input(id="message" autocomplete="off" style="width:100%;height:50px;padding:10px;")

                        script
                            include assets/js/room.js
                        script(type='text/javascript').
                            createRoom("#{user.username}", "#{room}")

                        div(class="navbar navbar-center" style="bottom:0;")
                            div(class="container text-center")
                                div(class="text-black")
                                    a(href="https://github.com/gabrielcsapo/node-chat-rooms") node-chat-rooms
                                    |&nbsp;made with 🐒 by&nbsp;
                                    a(href="www.gabrielcsapo.com") @gabrielcsapo
                    div.col-2-12
            else
                div(class="text-center", style="width:100%;position: absolute;top: 50%;transform: translateY(-50%);")
                    h3(class="text-black") Authentication Needed
                    div(class="text-black") Please login to view this page 🐒
                include templates/footer.pug
